[submodule "elisp/markdown-mode"]
	path = elisp/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "elisp/ensime"]
	path = elisp/ensime
	url = git://github.com/aemoncannon/ensime.git
[submodule "elisp/color-theme-solarized"]
	path = elisp/color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
